body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
}

.container {
    border: 1px solid black;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    gap: 5rem;
}

#image{
    object-fit: cover;
    width: 30em;
    height: 30rem;
}

#QRcontent{
    height: 2rem;
    text-align: center;
}

#btnCreate{
    height: 2rem;
}