@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-tomato uppercase border-b border-tomato;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

@keyframes headerBgChange {
  /* Files in public/foodList/ go to /foodList/ in the published site */
  0% { background-image: url('/foodList/brownie.jpg'); }
  20% { background-image: url('/foodList/veggie-burger.jpg'); }
  40% { background-image: url('/foodList/pad-thai.jpg'); }
  60% { background-image: url('/foodList/margherita.jpg'); }
  80% { background-image: url('/foodList/fruit-salad.jpg'); }

  /* File in public/ goes to / in the published site */
  100% { background-image: url('/food-collection-eid.jpg'); }
}

.header {
  animation: headerBgChange 25s infinite;
  transition: background-image 5s ease-in-out;
}

