* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,ol{
    list-style: none;
    margin-top: 5px;
    background-color: darkgrey;
    padding: 0.5rem;
    border-radius: 2px;
}

.item:hover{
  scale: 105%;
  font: bold;
  transition: ease;
  animation-duration: 500ms;
}

.item{
  border-bottom: 1px solid;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section {
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
  padding: 5px;
  background: #f7f5f5;
}

#submit{
    padding: 0.25rem;
    border-radius: 1rem;
}
#submit:hover{
  cursor: pointer;
  scale: 105%;
}

.heading{
  background-color: cadetblue;
  border-radius: 5rem;
  border-bottom: 2px solid;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.new-task-container {
  border: 1px solid;
  border-radius: 5rem;
  padding: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: large;
  font: bold;
}

.todo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 50%;
  background: #e3e1e9;
  padding: 0.5rem;
  border-radius: 5px;
}

.box{
  border: 1px solid;
  padding: 1rem;
  margin: 0.5rem;
}

button{
  padding: 1px;
  cursor: pointer;
}